
@font-face {
    font-family: "TTKBDikTemelAbece";
    src: url("TTKBDikTemelAbece.ttf");
}
@font-face {
    font-family: "TTKBDikTemelAbece-Bold";
    src: url("TTKBDikTemelAbece-Bold.ttf");
}

@font-face {
    font-family: "TTKBDikTemelAbeceArrow";
    src: url("TTKBDikTemelAbeceArrow.ttf");
}

@font-face {
    font-family: "TTKBDikTemelAbeceBody";
    src: url("TTKBDikTemelAbeceBody.ttf");
}

@font-face {
    font-family: "TTKBDikTemelAbeceDot";
    src: url("TTKBDikTemelAbeceDot.ttf");
}

@font-face {
    font-family: "TTKBDikTemelAbeceOutBody";
    src: url("TTKBDikTemelAbeceOutBody.ttf");
}

@font-face {
    font-family: "TTKBDikTemelAbeceOutLine";
    src: url("TTKBDikTemelAbeceOutLine.ttf");
}

@font-face {
    font-family: "TTKBDikTemelAbeceOutUni";
    src: url("TTKBDikTemelAbeceOutUni.ttf");
}

@font-face {
    font-family: "TTKBDikTemelAbeceUni";
    src: url("TTKBDikTemelAbeceUni.ttf");
}

#txt {
    font-family: "TTKBDikTemelAbece", Arial,  Helvetica;
    margin-top: 10px;
    font-size: 80px;
    min-height:50px;
    word-wrap: break-word;
}

label{
 margin-top: 10px;
}

.fc {
    width:auto;
}




